<div class="form-group">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Fruit Name</th>
        <th>Date</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fruit of fruits let i = index">
        <td>{{i+1}}</td>
        <td>{{fruit.name}}</td>
        <td>{{fruit.date | date:'dd.MM.yyyy h:mm:ss'}}</td>
        <td><button class="btn btn-danger" (click)="deleteItem(fruit)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
